  <div class="soccerplayerContainer">
    <!--[(ngModel)] is a diretive and is Angular's two-way data binding syntax. so the data flows to the property to the textbox and from the textbox to the property -->
    <!--Pipes | are a good way to format strings-->
    <!--The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list.-->
    <!--[class.selected]="soccerplayer === selectedSoccerPlayer" this is a way to add or remove class conditionally-->
    <h2>My Players</h2>
    <ul class="players">
      <li *ngFor="let soccerplayer of soccerplayers"> 
        <a routerLink="/detail/{{soccerplayer.id}}">
          <p><span class="badge">{{soccerplayer.id}}</span> {{soccerplayer.name}} | {{soccerplayer.fullName}} | Shirt: {{soccerplayer.favoriteShirtNumber}}</p>
        </a>
        <button class="delete" title="delete soccerplayer" (click)="delete(soccerplayer)">x</button>
      </li>
      
    </ul>  
  </div>

  <div class="soccerplayerContainer">
      <label>Soccerplayer name:
        <input #soccerplayerName />
      </label>
        <!-- (click) passes input value to add() and then clears the input -->
      <button (click)="add(soccerplayerName.value); soccerplayerName.value=''">
        Add
      </button>
  </div>
  
  