/* GLOBAL STYLES */
h1 
{
    font-size: 250%;
    
}
  h2, h3 
{
    font-weight: lighter;
}
  body 
{
    margin: 2em;
}
body, input[type="text"], button 
{
    
    font-family: Cambria, Georgia;
}
  /* everywhere else */
* 
{
    
    font-family:Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}